<div class="container blog-container">
  <section class="section section-blog">
    <div class="text-section">
      <p class="date-text">April 16 2020</p>
      <h2 class="section-header">Blog Post One</h2>
      <p class="section-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="btn section-btn" type="button">Read Our Blog</button>
    </div>
    <div class="photo-section"></div>
  </section>
</div>
