



<header class="header">
  <div class="container header-container">
        <a href="./index.html" class="logo"
          ><span class="logo-header-first">Finance</span><span class="logo-header-second">Ledger</span></a
        >
        <nav class="section-header">
          <ul class="site-nav list">
            <li class="site-item">
              <a href="../src/index.html" class="site-link link current">Home</a>
            </li>
            <li class="site-item">
              <a href="../src/about.html" class="site-link link">About</a>
            </li>
            <li class="site-item">
              <a href="#" class="site-link link">Cases</a>
            </li>
            <li class="site-item">
              <a href="#" class="site-link link">Blog</a>
            </li>
            <li class="site-item">
              <a href="#" class="site-link link">Contact</a>
            </li>
          </ul>
        </nav>
</header>
