<section class="hero">
  <div class="section">
    <section class="hero">
      <div class="container">
        <!-- Slider main container -->
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <h1 class="hero__title">The Sky Is The Limit</h1>
              <p class="hero__text">
                We provide world class financial assistance
              </p>
            </div>
            <div class="swiper-slide">
              <h1 class="hero__title">Work!!</h1>
              <p class="hero__text">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="swiper-slide">
              <h1 class="hero__title">Hello world!!!</h1>
              <p class="hero__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta,
                quibusdam!
              </p>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>

        <button type="button" class="hero__btn">
          <svg class="btn__icon" width="7" height="11">
            <use href="./images/hero/icon.svg"></use></svg
          >Read More
        </button>
      </div>
    </section>

    <a href="#" class="js-open-modal" data-modal="1">Открыть окно 1</a>
    <div class="modal" data-modal="1">
      <!--   Svg иконка для закрытия окна  -->
      <svg
        class="modal__cross js-modal-close"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
        />
      </svg>
      <p class="modal__title">Заголовок окна 1</p>
    </div>
  </div>
</section>
