<section>
  <div class="container solutions">
    <img
      src="./images/solutions/solutions.jpg"
      alt="company members"
      width="680"
    />
    <div class="solutions__data">
      <p class="solutions__text">What you are looking for</p>
      <h2 class="solutions__subtitle">We provide bespoke solutions</h2>
      <p class="solutions__subtext">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        quisquam iusto sequi, dolor obcaecati at, aliquam saepe nisi maiores,
        amet perspiciatis rem fugit vel. Voluptas.
      </p>
      <button class="button solutions--button">Read More</button>
    </div>
  </div>
</section>
