<section class="team">
<div class="conteiner">
<div class="team-title">
     <h1 team-title>Who we are</h1>
<h2 class="team-title-middle">Our Professional Team</h2>
<p class="team-text">Lorem ipsum dolor sit amet consectetur 
    dipisicing elit. Architecto, sapiente!</p>

</div>   


<ul class="team-list">
    <li class="team-item">
  <img class="team-icon" src="./images/team/img1.jpg" alt="President">
</li>
<div class="team-card">
    <h3 class="tem-title-small">John Doe</h3>
    <p team-card-text>President</p>
</div>

<li class="team-item">
  <img class="team-icon" src="./images/team/img2.jpg" alt="President">
</li>
<div class="team-card">
    <h3 class="tem-title-small">Vice Presidente</h3>
    <p team-card-text>President</p>
</div>



<li class="team-item">
  <img class="team-icon" src="./images/team/img3.jpg" alt="President">
</li>
<div class="team-card">
    <h3 class="tem-title-small">Steve Smith</h3>
    <p team-card-text>Marketing Head</p>
</div>
</ul>
</div>
</section>