<section class="we-do">
  <div class="we-do__titles container">
    <h2 class="we-do__title">This is what we do</h2>
    <h3 class="we-do__subtitle">Business Cases</h3>

    <div class="we-do__images">
      <p class="we-do__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
      <ul class="we-do__list">
        <li
          class="we-do__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
        >
          <img
            src="./images/we-do/1.jpg"
            alt="what we do"
            width="320"
            height="214"
          />
        </li>
        <li
          class="we-do__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
        >
          <img
            src="./images/we-do/2.jpg"
            alt="what we do"
            width="320"
            height="214"
          />
        </li>
        <li
          class="we-do__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
        >
          <img
            src="./images/we-do/3.jpg"
            alt="what we do"
            width="320"
            height="214"
          />
        </li>
        <li
          class="we-do__item"
          data-aos="fade-left"
          data-aos-anchor="#example-anchor"
          data-aos-offset="500"
          data-aos-duration="500"
        >
          <img
            src="./images/we-do/4.jpg"
            alt="what we do"
            width="320"
            height="214"
          />
        </li>
        <li
          data-aos="fade-left"
          data-aos-anchor="#example-anchor"
          data-aos-offset="500"
          data-aos-duration="500"
        >
          <img
            src="./images/we-do/5.jpg"
            alt="what we do"
            width="320"
            height="214"
          />
        </li>
        <li
          data-aos="fade-left"
          data-aos-anchor="#example-anchor"
          data-aos-offset="500"
          data-aos-duration="500"
        >
          <img
            src="./images/we-do/6.jpg"
            alt="what we do"
            width="320"
            height="214"
          />
        </li>
        <li class="we-do__item">
          <img
            src="./images/we-do/7.jpg"
            alt="what we do"
            width="320"
            height="214"
          />
        </li>
        <li class="we-do__item">
          <img
            src="./images/we-do/8.jpg"
            alt="what we do"
            width="320"
            height="214"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
