.visually-hidden {
  /*скрываем заголовок */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  background: $benefits-bg-color;
  padding: 40px 66px;

  color: $footer-bg-color;
}
.feature-list__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $second-text-color;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: $accent-color;
  margin-bottom: 15px;
}
.features-list {
  display: flex;
  gap: 71px;
  justify-content: center;
  align-items: center;
}
.feature-list__icon {
  fill: currentColor;
}
.features-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature-list__semititle {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}
